<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insight</title>
    <link rel="stylesheet" href="../styles/style2.css">
</head>
<body>
    <main>
        <aside class="leftContainer">
            <figure class="logoHeader">
                <img src="../assets/logo-start4.png" alt="" class="logoStart" onclick="window.location='../../index.html';">
                <img src="../assets/logo-typographic.png" alt="" class="logoTypographic" onclick="window.location='../../index.html';">
            </figure>
            <div>
                
                <a class="mainLink" href="">Over ons</a>
                <div class="submenu hidden">

                    <a href="./Insight.html" ><img src="../assets/icon-slogan.PNG" alt="">Insight</a> 
                    <a href="./mision.html" ><img src="../assets/icon-mission.png" alt="">  Missie</a>
                    <a href="./vissie.html" ><img src="../assets/icon-vission.png" alt=""> Visie</a>  
                </div>
                
            </div>
            <div class="containerLink">
                <a class="mainLink" href="">Services</a>
                <div class="submenu hidden">
                    <a href="./services-1.html"><img src="../assets/icon-webdesign.png" alt="">Webontwikkeling en Maatwerk Applicaties</a> 
                    <a href="./services-2.html"><img src="../assets/icon-graphicdesign.png" alt="">Grafische Ontwerpdiensten</a>
                    <a href="./services-3.html"><img src="../assets/icon-manager.png" alt="">Community Manager Diensten</a>
                    <a href="./services-4.html"><img src="../assets/icon-seo.png" alt="">SEO en SEM Diensten</a>
                    <a href="./services-5.html"><img src="../assets/icon-data.png" alt="">Database en Data-analyseservices</a>
                </div>       
            </div>    
            <div class="containerLink">
                <a class="mainLink" href="">Meer opties</a>
                <div class="submenu hidden">

                    <a  href="./Privatepolicy.html"><img src="../assets/icon-candado.png" alt=""> Privacy-beleid</a> 
                    <a href="./cookies.html"> <img src="../assets/icon-cookies.png" alt="">  Cockie-beleid</a>
                    <a href="" class="hidden"><img src="../assets/icon-contract.png" alt=""> Voorwaarden</a>    
                </div>
            </div>       
        </aside>

        <hr/>

        <div class="clickIndicator"></div>
        <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <aside class="rightContainer">
        
            <h2 class="title">Insight</h2>
            <p class="datum">
                Bedrijven transformeren, wereldwijde innovatie stimuleren.</p>
            <figure>
                <img src="./assets/icon-logos.PNG" alt="">
            </figure>
            <p>Deze reeks afbeeldingen met een modern en strak vectorontwerp, met vier objecten in heldere kleuren, 
                vertegenwoordigt de belangrijkste punten van "Start4". 
                Het eerste object, een rode cirkel met een zwarte lijn, symboliseert netwerkconnectiviteit, 
                terwijl het tweede, een groene driehoek, bedrijfsbeheer vertegenwoordigt. Het derde object, 
                een gele vierkant, staat voor gegevensopslag en het vierde object, een blauwe cirkel met 
                een witte lijn, symboliseert onze specialiteit in webdesign. Deze objecten hebben een 
                eenvoudig en abstract ontwerp met een ondernemende geest die de missie van Start4 perfect 
                beschrijft.</p>
            <p class="datum-2">Daarnaast het bedrijf "Start4" is nauw verbonden met Industrie 4.0, die de vierde industriële revolutie
                 vertegenwoordigt en wordt gekenmerkt door de integratie van geavanceerde digitale technologieën.</p>
            <figure>
                <img src="./assets/icon-tuerca4.PNG" alt="">
            </figure>

        </aside>

       
    </main>

    <script src="../script/menu2.js"></script>
    <script src="../script/index2.js"></script>
</body>
</html>