<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missie</title>
    <link rel="stylesheet" href="../styles/style2.css">
</head>
<body>
    <main>
        <aside class="leftContainer">
            <figure class="logoHeader">
                <img src="../assets/logo-start4.png" alt="" class="logoStart" onclick="window.location='../../index.html';">
                <img src="../assets/logo-typographic.png" alt="" class="logoTypographic" onclick="window.location='../../index.html';">
            </figure>
            <div>
                
                <a class="mainLink" href="">Over ons</a>
                <div class="submenu hidden">

                    <a href="./Insight.html" ><img src="../assets/icon-slogan.PNG" alt="">Insight</a> 
                    <a href="./mision.html" ><img src="../assets/icon-mission.png" alt="">Missie</a>
                    <a href="./vissie.html" ><img src="../assets/icon-vission.png" alt="">Visie</a>    
                </div>
                
            </div>
            <div class="containerLink">
                <a class="mainLink" href="">Services</a>
                <div class="submenu hidden">
                    <a href="./services-1.html"><img src="../assets/icon-webdesign.png" alt="">Webontwikkeling en Maatwerk Applicaties</a> 
                    <a href="./services-2.html"><img src="../assets/icon-graphicdesign.png" alt="">Grafische Ontwerpdiensten</a>
                    <a href="./services-3.html"><img src="../assets/icon-manager.png" alt="">Community Manager Diensten</a>
                    <a href="./services-4.html"><img src="../assets/icon-seo.png" alt="">SEO en SEM Diensten</a>
                    <a href="./services-5.html"><img src="../assets/icon-data.png" alt="">Database en Data-analyseservices</a>
                </div>       
            </div>    
            <div class="containerLink">
                <a class="mainLink" href="">Meer opties</a>
                <div class="submenu hidden">

                    <a  href="./Privatepolicy.html"><img src="../assets/icon-candado.png" alt=""> Privacy-beleid</a> 
                    <a href="./cookies.html"> <img src="../assets/icon-cookies.png" alt="">  Cockie-beleid</a>
                    <a href="" class="hidden"><img src="../assets/icon-contract.png" alt=""> Voorwaarden</a>    
                </div>
            </div>      
        </aside>

        <hr/>

        <div class="clickIndicator"></div>
        <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <aside class="rightContainer">
        
            <h2 class="title">Missie</h2>
            <p class="datum">De zakenwereld digitaliseren</p>
            <figure>
            </figure>
            <p>Onze missie bij Start4 is om leiding te geven aan de digitale transformatie van de zakenwereld 
                met innovatieve oplossingen op het gebied van bedrijfsvoering, asset management en optimalisatie 
                                , beheer van buitenlandse handel inclusief kosten en budgetten en vooral de behoeften met 
                                betrekking tot Industrie 4.0, deze diensten zijn bedoeld voor kleine, middelgrote en grote bedrijven. 
                Wij zetten ons in voor het identificeren en stimuleren van innovatieve bedrijven, 
                en transformeer ze in zeer winstgevende en wereldwijd schaalbare entiteiten. Ons doel 
                                is om toegang te bieden tot instrumenten en strategieën waarmee bedrijven duurzaam kunnen zijn 
                                en het bereiken van concurrerende groei op de wereldmarkt.
                </p>
           
    </main>

    <script src="../script/menu2.js"></script>
    <script src="../script/index2.js"></script>
</body>
</html>