<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy-Beleid</title>
    <link rel="stylesheet" href="../styles/style2.css">
</head>
<body>
    <main>
        <aside class="leftContainer">
            <figure class="logoHeader">
                <img src="../assets/logo-start4.png" alt="" class="logoStart" onclick="window.location='../../index.html';">
                <img src="../assets/logo-typographic.png" alt="" class="logoTypographic" onclick="window.location='../../index.html';">
            </figure>
            <div>
                <a class="mainLink" href="">Meer opties</a>
                <div class="submenu hidden">

                    <a  href="./Privatepolicy.html"><img src="../assets/icon-candado.png" alt=""> Privacy-beleid</a> 
                    <a href="./cookies.html"> <img src="../assets/icon-cookies.png" alt="">  Cockie-beleid</a>
                    <a href="" class="hidden"><img src="../assets/icon-contract.png" alt=""> Voorwaarden</a>    
                </div>
            </div>
            <div class="containerLink">
                <a class="mainLink" href="">Services</a>
                <div class="submenu hidden">
                    <a href="./services-1.html"><img src="../assets/icon-webdesign.png" alt="">Webontwikkeling en Maatwerk Applicaties</a> 
                    <a href="./services-2.html"><img src="../assets/icon-graphicdesign.png" alt="">Grafische Ontwerpdiensten</a>
                    <a href="./services-3.html"><img src="../assets/icon-manager.png" alt="">Community Manager Diensten</a>
                    <a href="./services-4.html"><img src="../assets/icon-seo.png" alt="">SEO en SEM Diensten</a>
                    <a href="./services-5.html"><img src="../assets/icon-data.png" alt="">Database en Data-analyseservices</a>
                </div>
                        
            </div>    
            <div class="containerLink">
                <a class="mainLink" href="">Over ons</a>     
                <div class="submenu hidden">

                    <a href="./Insight.html" ><img src="../assets/icon-slogan.PNG" alt="">Insight</a> 
                    <a href="./mision.html" ><img src="../assets/icon-mission.png" alt="">Missie</a>
                    <a href="./vissie.html" ><img src="../assets/icon-vission.png" alt="">Visie</a>     
                </div>
            </div>    
        </aside>

        <hr/>

        <div class="clickIndicator"></div>
        <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <aside class="rightContainer">
        
            <h2 class="title">Privacy-beleid</h2>
            <p class="datum">Ons privacybeleid is van kracht op 10 mei 2024</p>
            <p>Bij [Naam van het Start4] zijn we toegewijd aan de bescherming en het 
                respecteren van uw privacy. Dit Privacybeleid legt uit hoe we uw persoonlijke 
                gegevens verzamelen, gebruiken, delen en beschermen wanneer u onze webcreatie-, 
                technologische diensten, bedrijfsbeheer en ons wallet-platform voor 
                cryptocurrency-transacties gebruikt.</p>
            <h2>1. Persoonlijke Gegevens:</h2>
            <p>We verzamelen persoonlijke gegevens die u ons verstrekt bij het registreren, 
                gebruiken van onze diensten of communiceren met ons. Dit omvat:</p> 
            <ul>
                <li>Volledige naam</li>
                <li>E-mailadres</li>
                <li>Contactgegevens</li>
                <li>Betalingsgegevens en cryptocurrency-transacties</li>
                <li>Identificatie-informatie (indien nodig)</li>
            </ul>
            <h2>2. Automatische Informatie:</h2>  
            <p>We gebruiken uw informatie om:</p> 
            <ul>
                <li>Onze diensten te leveren en te verbeteren</li>
                <li>Het maken en beheren van wallets voor cryptocurrency te faciliteren</li>
                <li>Betalingen en transacties te verwerken</li>
                <li>Met u te communiceren</li>
                <li>Te voldoen aan wettelijke verplichtingen</li>
            </ul>
            <h2>3. Delen van de Informatie</h2>
            <p>We delen uw persoonlijke gegevens niet met derden, behalve in de volgende gevallen:</p>
            <ul>
                <li><strong>Dienstverleners:</strong>Voor het uitvoeren van onze bedrijfsactiviteiten</li>
                <li><strong>Wettelijke Vereisten:</strong>Om te voldoen aan de wet</li>
                <li><strong>Zakelijke Transacties:</strong>In geval van een fusie of overname</li>
            </ul>
            <h2>4. Beveiliging van de Informatie</h2>
            <p>We implementeren beveiligingsmaatregelen om uw persoonlijke gegevens te beschermen. 
                Geen enkele beveiligingsmaatregel is echter volledig onfeilbaar.</p>
            <h2>5. Rechten van de Gebruiker</h2>
            <p>U heeft rechten met betrekking tot uw persoonlijke gegevens, zoals toegang, correctie en 
                verwijdering van uw gegevens. Om deze rechten uit te oefenen, kunt u contact met ons opnemen 
                via [E-mailadres].</p>
            <h2>6. Wijzigingen in dit Privacybeleid</h2>
            <p>We kunnen dit Privacybeleid van tijd tot tijd bijwerken. We zullen eventuele wijzigingen op 
                deze pagina publiceren.</p>
        </aside>

       
    </main>

    <script src="../script/menu2.js"></script>
    <script src="../script/index2.js"></script>
</body>
</html>