<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDevelopment</title>
    <link rel="stylesheet" href="../styles/style2.css">
</head>
<body>
    <main>
        <aside class="leftContainer">
            <figure class="logoHeader">
                <img src="../assets/logo-start4.png" alt="" class="logoStart" onclick="window.location='../../index.html';">
                <img src="../assets/logo-typographic.png" alt="" class="logoTypographic" onclick="window.location='../../index.html';">
            </figure>
            <div>
                <a class="mainLink" href="">Services</a>
                <div class="submenu hidden">
                    <a href="./services-1.html"><img src="../assets/icon-webdesign.png" alt="">Webontwikkeling en Maatwerk Applicaties</a> 
                    <a href="./services-2.html"><img src="../assets/icon-graphicdesign.png" alt="">Grafische Ontwerpdiensten</a>
                    <a href="./services-3.html"><img src="../assets/icon-manager.png" alt="">Community Manager Diensten</a>
                    <a href="./services-4.html"><img src="../assets/icon-seo.png" alt="">SEO en SEM Diensten</a>
                    <a href="./services-5.html"><img src="../assets/icon-data.png" alt="">Database en Data-analyseservices</a>
                </div>
            </div>
            <div class="containerLink">
                <a class="mainLink" href="">Over ons</a>
                <div class="submenu hidden">

                    <a href="./Insight.html" ><img src="../assets/icon-slogan.PNG" alt="">Insight</a> 
                    <a href="./mision.html" ><img src="../assets/icon-mission.png" alt="">Missie</a>
                    <a href="./vissie.html" ><img src="../assets/icon-vission.png" alt="">Visie</a>       
                </div>
            </div>    
            <div class="containerLink">
                <a class="mainLink" href="">Meer opties</a>
                <div class="submenu hidden">

                    <a  href="./Privatepolicy.html"><img src="../assets/icon-candado.png" alt=""> Privacy-beleid</a> 
                    <a href="./cookies.html"> <img src="../assets/icon-cookies.png" alt="">  Cockie-beleid</a>
                    <a href="" class="hidden"><img src="../assets/icon-contract.png" alt=""> Voorwaarden</a>    
                </div>
            </div>    
        </aside>

        <hr/>

        <div class="clickIndicator"></div>
        <div class="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <aside class="rightContainer">
        
            <h2 class="title">Webontwikkeling en Maatwerk Applicaties</h2>
           
            <p>We bieden complete webontwikkelingsdiensten en aangepaste applicaties om organisaties te helpen digitale oplossingen 
                te creëren die passen bij hun specifieke behoeften.</p>

            <h2>1. Web ontwikkeling</h2>
            <ul>
                <li><strong>Website-ontwerp en -ontwikkeling:</strong>Creatie van gepersonaliseerde en responsieve websites, geoptimaliseerd voor mobiele apparaten.</li>
                <li><strong>eCommerce ontwikkeling:</strong>Implementatie van veilige en functionele online winkels met geïntegreerde betalingssystemen.</li>
                <li><strong>Onderhoud en update:</strong>Doorlopende onderhoudsdiensten en updates om de prestaties en veiligheid van de website te waarborgen.</li>
            </ul>
            <figure>
                <img src="../assets/menu-objeto-7.PNG" alt="">
            </figure>

            <h2>2. Ontwikkeling van applicaties op maat</h2>  
            <ul>
                <li><strong>Mobiele applicaties:</strong>Ontwikkeling van native en cross-platform mobiele applicaties voor Android en iOS.</li>
                <li><strong>Webapplicaties:</strong>Creatie van interactieve en schaalbare webapplicaties voor verschillende industrieën.</li>
                <li><strong>API-integratie:</strong>Het implementeren en beheren van API-integraties om de functionaliteit en connectiviteit van applicaties te verbeteren.</li>
            </ul>
            <figure>
                <img src="../assets/menu-objeto-8.png" alt="">
                <!-- <img src="./assets/menu-objeto-8.png" alt=""> -->
            </figure>

            <h2>3. UI/UX Design</h2>
            <ul>
                <li><strong>User Interface Design:</strong>Creatie van intuïtieve en visueel aantrekkelijke interfaces om de gebruikerservaring te verbeteren.</li>
                <li><strong>Usability Testing:</strong>Het uitvoeren van usability testing om ervoor te zorgen dat applicaties gebruiksvriendelijk zijn en voldoen aan de verwachtingen van de gebruiker.</li>
                <li><strong>Interactieve prototypes: </strong>Ontwikkeling van interactieve prototypes om concepten te valideren en feedback te ontvangen voor de definitieve implementatie.</li>
            </ul>
            <figure>
                <img src="../assets/menu-objeto-9.png" alt="">
            </figure>
    </main>

    <script src="../script/index2.js"></script>
    <script src="../script/menu2.js"></script>
</body>
</html>